.card{
  background: rgba(255, 255, 255, 0.116);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  padding: 40px;
}

.swiper {
  width: 100%;
  padding:50px;
}

.swiper-slide {  
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 228px;
  text-align: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide__title{
  font-style: italic;
}

.swiper-slide__view{
  position: absolute;
  width: 100%; 
  transition: 0.3s; 
  height: 100%; 
  top: 28px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: white; 
  opacity: 0; 
  background-color: rgba(0, 0, 0, .7); 
  z-index: 1;
  text-align: center
}

.swiper-slide:hover .swiper-slide__view{
  opacity: 1;
}

@media screen and (min-width:768px) {

  .swiper{
    padding-bottom: 100px;
  }
 
}
  